<section id="hero-container">
    <div id="hero">
        <img src="../../../../assets/Img/test1.jpg" alt="Hero de la pagina">
    </div>
</section>

<section id="product-list">
    <h3>Lista de Productos</h3>
    <!--
    <div class="list-grid">
        <div class="product-card">
            <img src="../../../../assets/Img/products/jean01.jpg" alt="imagen de producto">
            <h5>Nombre de producto</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus consectetur repellendus omnis, commodi corporis nam?</p>
            <p>10000$</p>
            <button>Agregar al carrito</button>
        </div>
        
        <div class="product-card">
            <img src="../../../../assets/Img/products/jean02.jpg" alt="imagen de producto">
            <h5>Nombre de producto</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus consectetur repellendus omnis, commodi corporis nam?</p>
            <p>Precio en pesos 10000$</p>
            <button>Agregar al carrito</button>
        </div>
    </div>-->

    <div class="container">
        <div class="row"  style="margin-top: 2rem;">
            <div class="col">
                <div class="product-card">
                    <img src="../../../../assets/Img/products/jean01.jpg" alt="imagen de producto">
                    <h5>Nombre de producto</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias
                        doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus
                        consectetur repellendus omnis, commodi corporis nam?</p>
                    <p>10000$</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>

            <div class="col">
                <div class="product-card">
                    <img src="../../../../assets/Img/products/jean02.jpg" alt="imagen de producto">
                    <h5>Nombre de producto</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias
                        doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus
                        consectetur repellendus omnis, commodi corporis nam?</p>
                    <p>Precio en pesos 10000$</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>

            <div class="col">
                <div class="product-card">
                    <img src="../../../../assets/Img/products/jean01.jpg" alt="imagen de producto">
                    <h5>Nombre de producto</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias
                        doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus
                        consectetur repellendus omnis, commodi corporis nam?</p>
                    <p>10000$</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>

            <div class="col">
                <div class="product-card">
                    <img src="../../../../assets/Img/products/jean02.jpg" alt="imagen de producto">
                    <h5>Nombre de producto</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias
                        doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus
                        consectetur repellendus omnis, commodi corporis nam?</p>
                    <p>Precio en pesos 10000$</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>
        </div>

        <div class="row"  style="margin-top: 2rem;">
            <div class="col">
                <div class="product-card">
                    <img src="../../../../assets/Img/products/jean01.jpg" alt="imagen de producto">
                    <h5>Nombre de producto</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias
                        doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus
                        consectetur repellendus omnis, commodi corporis nam?</p>
                    <p>10000$</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>

            <div class="col">
                <div class="product-card">
                    <img src="../../../../assets/Img/products/jean02.jpg" alt="imagen de producto">
                    <h5>Nombre de producto</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias
                        doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus
                        consectetur repellendus omnis, commodi corporis nam?</p>
                    <p>Precio en pesos 10000$</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>

            <div class="col">
                <div class="product-card">
                    <img src="../../../../assets/Img/products/jean01.jpg" alt="imagen de producto">
                    <h5>Nombre de producto</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias
                        doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus
                        consectetur repellendus omnis, commodi corporis nam?</p>
                    <p>10000$</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>

            <div class="col">
                <div class="product-card">
                    <img src="../../../../assets/Img/products/jean02.jpg" alt="imagen de producto">
                    <h5>Nombre de producto</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti vel molestias
                        doloribus, voluptatem dolore quas in eius fugiat iste atque error explicabo accusamus
                        consectetur repellendus omnis, commodi corporis nam?</p>
                    <p>Precio en pesos 10000$</p>
                    <button>Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
    
</section>